body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
	background-color: rgb(76, 99, 76);
    background-image: linear-gradient(rgb(73, 89, 55), #ddffc0);
    background-repeat: no-repeat;
}

#desktop {
    height: 100%;
    position: relative;
}

#dock {
    position: absolute;
	display: flex;
	flex-direction: row;
    top: 30px;
    left: 30px;
}

.dock-icon {
	margin: 10px;
	padding: 10px;
    width: 100px;
    height: 100px;
    cursor: pointer;
	align-items: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s;
}

.dock-icon:hover {
	transform: scale(1.1);
}
