body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
	background-color: #ffc0cb;
    background-image: linear-gradient(#eaea5f, #ffc0cb);
    background-repeat: no-repeat;
}

#desktop {
    height: 100%;
    position: relative;
}

#dock {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.dock-icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
	align-items: center;
	background-color: transparent;
	background-repeat: no-repeat;
	border-radius: 5px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.window {
    width: 300px;
    height: 200px;
    position: absolute;
    border: 1px solid black;
    background-color: white;
}

.title-bar {
    background-color: #ddd;
    cursor: move;
    padding: 5px;
}

.close-button {
    float: right;
    cursor: pointer;
}

.content {
    padding: 10px;
}

